[submodule "wrap-region/"]
	path = wrap-region/
	url = git://github.com/rejeep/wrap-region.git
[submodule "drag-stuff"]
	path = drag-stuff
	url = git://github.com/rejeep/drag-stuff.git
[submodule "wrap-region"]
	path = wrap-region
	url = http://github.com/rejeep/wrap-region.git
[submodule "redo"]
	path = redo
	url = https://github.com/apenwarr/redo.git
[submodule "shell/zsh-highlighting"]
	path = shell/zsh-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "jsh"]
	path = jsh
	url = ssh://jgarvin@chdv-jgl1105/home/jgarvin/jsh
