[submodule "drag-stuff"]
	path = drag-stuff
	url = https://github.com/rejeep/drag-stuff.git
[submodule "wrap-region"]
	path = wrap-region
	url = https://github.com/rejeep/wrap-region.git
[submodule "redo"]
	path = redo
	url = https://github.com/apenwarr/redo.git
[submodule "jsh"]
	path = jsh
	url = ssh://jgarvin@chdv-jgl1105/home/jgarvin/jsh
[submodule "ack"]
	path = ack
	url = https://github.com/petdance/ack.git
