[submodule "wrap-region/"]
	path = wrap-region/
	url = git://github.com/rejeep/wrap-region.git
[submodule "drag-stuff"]
	path = drag-stuff
	url = git://github.com/rejeep/drag-stuff.git
[submodule "wrap-region"]
	path = wrap-region
	url = http://github.com/rejeep/wrap-region.git
[submodule "redo"]
	path = redo
	url = https://github.com/apenwarr/redo.git
[submodule "ack"]
	path = ack
	url = https://github.com/petdance/ack.git
