\#*
*\~
*.pyc
TAGS
GPATH
GRTAGS
GSYSMS
GTAGS
real_locations
*.hi
*.o
*.s
xmonad-x86_64-*
xmonad.errors
.redo
.svn
xmonad/lib/PickBrowser.hs
*.pack
core
a.out
*.d
*.gch
gmon.out
*.log
*.pyc
.\#*
\#*
vgcore.*
massif.out
.redo
out
*.wav
