[Unit]
Description=DragonVm

[Service]
ExecStart=/usr/bin/VBoxSDL --startvm "Dragon Resized"
Restart=always
RestartSec=1
# restart once every twenty four hours
WatchdogSec=86400

[Install]
WantedBy=user-graphical-login.target