[Unit]
Description=joystick

[Service]
ExecStart=/usr/bin/env bash -c "~/mandimus/joystick.py"
Restart=always
RuntimeMaxSec=60

[Install]
WantedBy=user-graphical-login.target